* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 10px;
}

.div1 {
  height: 150px;
  width: 450px;
  display: flex;
  border-radius: 8px;
}

.div2 {
  height: 150px;
  width: 450px;
  display: flex;
  border-radius: 8px;
}
.div3 {
  height: 150px;
  width: 450px;
  display: flex;
  border-radius: 8px;
}

.div1:hover {
  height: 150px;
  width: 450px;
  display: flex;
  box-shadow: 6px 6px 25px 4px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
}

.div2:hover {
  height: 150px;
  width: 450px;

  display: flex;
  box-shadow: 6px 6px 25px 4px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
}
.div3:hover {
  height: 150px;
  width: 450px;

  display: flex;
  box-shadow: 6px 6px 25px 4px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
}

#btn_plus {
  margin-top: 50px;
  cursor: pointer;
  background-color: #fff;
  height: 30px;
  border-radius: 6px;
  margin-left: 10px;
}

#btn_moin {
  margin-top: 50px;
  cursor: pointer;
  height: 30px;
  background-color: #fff;
  border-radius: 6px;
  margin-right: 10px;
}

.img {
  width: 100px;

  margin-right: 5px;
  border-radius: 8px;
}
#input {
  margin-top: 50px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
  filter: grayscale(100%);
}

.delt_icon {
  width: 20px;
  height: 20px;

  margin: 10px;
}

.delt_icon:hover {
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;

  box-shadow: 6px 6px 25px 4px rgba(0, 0, 0, 0.18);
}

footer {
  display: flex;
  align-items: center;
}
